# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=2010

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Service ports
WEB_CLIENT_PORT=2000
API_GATEWAY_PORT=2001
USER_SERVICE_PORT=2002
COURT_SERVICE_PORT=2003
RESERVATION_SERVICE_PORT=2004
